@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "surahnames";
  src: url("/fonts/surah_names.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
